<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stroke Prediction Result</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stroke.css')}}" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="result-container">
      <div class="result-card">
        <h2>Stroke Prediction Result</h2>
        <!-- Display Prediction Result Here -->
        <p class="prediction">
          The result indicates:
          <span class="result-text">Identified No Stroke Effect</span>
        </p>
        <!-- Use JavaScript to dynamically change the text and color based on prediction -->

        <button class="btn" onclick="window.location.href='test.html'">
          <a href="{{ url_for('test') }}" class="nav-link">Take Another Test</a>
        </button>
      </div>
    </div>
  </body>
</html>
